<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run">
    <test name="Chrome Test">
        <parameter name ="browser" value="Chrome"/>
        <classes>
            <class name ="testcases.theHubLogIn"/>
            <class name="testcases.companies"/>
            <class name ="testcases.companies_test"/>
            <class name="testcases.theHubLogout"/>
        </classes>
    </test>

</suite>


