<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run">
    <test name="Chrome Test">
        <parameter name ="browser" value="Chrome"/>
        <classes>
            <class name ="testcases.theHubLogIn"/>
            <class name ="testcases.theHubLogout"/>
            <class name ="testcases.FilterSearchResults"/>
            <class name ="testcases.clickOnFormatsFromHamburgerMenu"/>
            <class name ="testcases.clickOnSeriesFromHamburgerMenu"/>
            <class name ="testcases.clickOnMediaFromHamburgerMenu"/>
            <class name="testcases.clickOnNewsFromHamburgerMenu"/>
        </classes>
    </test>

</suite>


