<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run" thread-count="1">
    <test name="Chrome Test">
        <parameter name ="browser" value="Chrome"/>
        <classes>
            <class name ="testcases.theHubLogIn"/>
            <class name="testcases.theHubLogout"/>
            <class name="testcases.clickOnBrandToolkitFromHamburgerMenu"/>
            <class name="testcases.clickOnCalendarFromHamburgerMenu"/>
        </classes>
    </test>

</suite>

